* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
h1 {
    margin-bottom: 100px;
}

img {
    width: 40px;
}
.cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.horse {
    width: 20px;
    height: 20px;
    background-color: blue;
}

.gray {
    background-color: #666;
}

.field {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    width: 200px;
    height: 40px;
    font-size: 21px;
    border-radius: 30px;
    outline: none;
}